*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Source Serif Pro";
   font-size: 20px;
   color: white;
}
/**Header**/
header{
   background-color:#2f2f2f;
   box-shadow: 0 0 10px 20px #424242;
}
#logo{
   width: 90%;
}
#logo_title{
   font-size: 36px;
   font-weight: 600;
   line-height: 30px;
   margin-bottom: 10px;
}
#logo_text{
   font-size: 22px;
   margin-left: 5%;
 }
#title{
   margin-top: 2%;
   margin-left: -2%;
}
.adress_image{
   width: 50%;
   float: right;
   margin-top: 40%;
}
#under_adress1{
   margin-left: 50%;
}
#under_adress1,
#under_adress2{
   width: 14%;
   float: right;
   margin-top: 2%;
}
.adress_text{
   margin-left:6%;
}
/**Header End**/