*{
padding: 0;
height: 0;
box-sizing: border-box;
font-family: impact;
}
/**Header**/
#header{
background-color:#2f2f2f ;
height: 285px;
width: 100%;
}

 #logo{
    width: 120%;
    height: 100%;
 }

 #logo-text{
    font-size: 13px;
    color:rgb(235,235,235);
    margin: 0 0 0 5px;
 }
/**Header End**/